exportPattern("^[[:alpha:]]+")
importFrom(rlang, "quo")
importFrom(ggplot2, "ggplot")
importFrom(ggplot2, "geom_point")
importFrom(ggplot2, "geom_smooth")
importFrom(ggthemes, "theme_excel")
importFrom(dplyr, "%>%")
importFrom(dplyr, "filter")
importFrom(dplyr, "select")
importFrom(dplyr, "summarize")
importFrom(readxl, "read_excel")